<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <img src="../assets/imgs/caidalibre.jpg" alt="Descripción de la imagen">

    <p> <strong> La caída libre en física se refiere a un movimiento de un objeto en el que la única fuerza que actúa sobre él es la fuerza gravitatoria. En otras palabras, es el movimiento de un objeto que cae bajo la influencia de la gravedad.</strong></p>

    <p> <strong>Durante la caída libre, la velocidad del objeto aumenta constantemente a medida que se acelera hacia abajo debido a la fuerza gravitatoria constante que actúa sobre él. En la Tierra, la aceleración debido a la gravedad es de aproximadamente 9,8 metros por segundo al cuadrado (m/s²).
    </strong>
    </p>
</body>
</html>

<style>
    img {
        display: block;
        margin: 0 auto;
    }

    p {
        text-align: center;
        font-size: x-large;
    }
</style>